{% extends 'base_loged.html' %}
{% load static from staticfiles %}
{% block ExtraCSS %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'bower_components/parsleyjs/src/parsley.css' %}"/>
{% endblock %}
{% block principal %}
    <section id="wrapper">
        <a href="{% url 'companies:home' %}" class="link-back"><i class="icon-arrow-left"></i> Volver al listado de empresas</a>
        <hr/>
        <section id="company-form">
            <h2>Ingresar Compañia de Seguros</h2>
            <form action="." method="post" data-parsley-validate >
                {% csrf_token %}
                <input name="user" id="id_user" value="{{ user.id }}" type="hidden"/>
                {{ form.name }}
                <div class="left-column-form">{{ form.nit }}</div> <div class="right-column-form">- {{ form.digit_verification }}</div>
                {{ form.address }}
                {{ form.cel_phone }}
                <hr>
                <h3>Analista de Cumplimiento</h3>
                {{ form.name_compliance }}
                {{ form.phone_compliance }}
                {{ form.mail_compliance }}
                <hr>
                <h3>Analista de Vida</h3>
                {{ form.name_live }}
                {{ form.phone_live }}
                {{ form.mail_live }}
                <hr>
                <h3>Analista de Automoviles</h3>
                {{ form.name_car }}
                {{ form.phone_car }}
                {{ form.mail_car }}
                <hr>
                <h3>Analista de Generales</h3>
                {{ form.name_generals }}
                {{ form.phone_generals }}
                {{ form.mail_generals }}
                <hr>
                <div class="action-buttons">
                    <button type="submit" class="btn btn-primary"><i class="icon-disk"></i> Guardar</button>
                </div>
            </form>
        </section>
    </section>
{% endblock %}
{% block ExtraJS %}
    {{ block.super }}
{#    <script src="{% static "bower_components/parsleyjs/src/i18n/es.js" %}"></script>#}
    <script src="{% static "bower_components/parsleyjs/dist/parsley.js" %}"></script>
    <script src="{% static "bower_components/parsleyjs/dist/parsley.remote.js" %}"></script>
{% endblock %}