{% extends 'base_loged.html' %}

{% block principal %}
    <section id="wrapper">
        <a href="{% url 'companies:home' %}" class="link-back"><i class="icon-arrow-left"></i> Volver al listado de empresas</a>
        <hr/>
        <section id="detail">
            <p><span>Compañia: </span>{{ company.name }}</p>
            <p><span>Nit: </span>{{ company.nit }} - {{ company.digit_verification }}</p>
            <p><span>Dirección: </span>{{ company.address }}</p>
            <p><span>Teléfono: </span>{{ company.cel_phone }}</p>
            <hr>
            <h3>Analista de Cumplimento</h3>
            <p><span>Analista: </span>{{ company.name_compliance }}</p>
            <p><span>Teléfono: </span>{{ company.phone_compliance }}</p>
            <p><span>Email: </span>{{ company.mail_compliance }}</p>
            <hr>
            <h3>Analista de Vida</h3>
            <p><span>Analista: </span>{{ company.name_live }}</p>
            <p><span>Teléfono: </span>{{ company.phone_live }}</p>
            <p><span>Email: </span>{{ company.mail_live }}</p>
            <hr>
            <h3>Analista de Automoviles</h3>
            <p><span>Analista: </span>{{ company.name_car }}</p>
            <p><span>Teléfono: </span>{{ company.phone_car }}</p>
            <p><span>Email: </span>{{ company.mail_car }}</p>
            <hr>
            <h3>Analista de Generales</h3>
            <p><span>Analista: </span>{{ company.name_generals }}</p>
            <p><span>Teléfono: </span>{{ company.phone_generals }}</p>
            <p><span>Email: </span>{{ company.mail_generals }}</p>
            <hr>
        </section>
    </section>
{% endblock %}