{% extends 'base_loged.html' %}
{% block principal %}
    <section id="wrapper">
        <h2 class="title-50">Listado de Compañias</h2>
        <div class="action-buttons">
            <a href="{% url 'companies:add' %}" class="btn btn-primary">
                <i class="icon-plus-circle"></i> Agregar Compañia
            </a>
        </div>
        <hr/>
        <section id="tabular-data">
            {% for c in list_companies %}
                <article class="company">
                    <div class="data">
                        <p><span>Compañia: </span>{{ c.name }}</p>
                        <p><span>Nit: </span>{{ c.nit }} - {{ c.digit_verification }}</p>
                        <p><span>Dirección: </span>{{ c.address }}</p>
                        <p><span>Celular: </span>{{ c.cel_phone }}</p>
                    </div>
                    <div class="btn-left"><a href="{% url 'companies:detail' c.slug %}"><i class="icon-profile"></i> Detalle</a></div>
                    <div class="btn-right"><a href="{% url 'companies:edit' c.slug %}"><i class="icon-pencil"></i> Editar</a></div>
                </article>
            {% endfor %}
        </section>
    </section>
{% endblock %}