{% extends 'base_loged.html' %}
{% load static from staticfiles %}
{% block ExtraCSS %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "bower_components/chosen_v1.1.0/chosen.css" %}"/>
{% endblock %}
{% block principal %}
    <section id="wrapper">
        <h2>Listado de productos</h2>
        <section id="tabular-data-products">
            {% for p in list_products %}
                {% if forloop.first %}
                    <table>
                        <thead>
                        <tr>
                            <td>Compañia</td>
                            <td>Ramo</td>
                            <td>Producto</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                {% endif %}
                            <tr>
                                <td>{{ p.company.name }}</td>
                                <td>{{ p.get_department_display }}</td>
                                <td>{{ p.name }}</td>
                                <td><a href="#" data-id= {{ p.id }}><i class="icon-pencil"></i> Editar</a></td>
                            </tr>
                {% if forloop.last %}
                        </tbody>
                    </table>
                {% endif %}
            {% endfor %}
        </section>
        <section id="form-products">
            <h3>Agregar Producto</h3>
            <form action="." method="post">
                {% csrf_token %}
                <input name="user" id="id_user" value="{{ user.id }}" type="hidden"/>
                {{ form.company.errors }}
                {{ form.company.label_tag }}
                {{ form.company }}
                <br>
                {{ form.department.errors }}
                {{ form.department.label_tag }}
                {{ form.department }}
                <br>
                {{ form.name.errors }}
                {{ form.name.label_tag }}
                {{ form.name }}
                <br>
                <button type="submit" class="btn btn-primary btn-full-with" name="submit"><i class="icon-plus-circle"></i> Agregar Producto</button>
            </form>
        </section>
    </section>
{% endblock %}
{% block ExtraJS %}
    {{ block.super }}
    <script src="{% static "js/products.js" %}"></script>
{% endblock %}