{% extends 'base_loged.html' %}
{% block sidebar %}

{% endblock %}
{% block principal %}
    <section id="wrapper">
        <h2 class="account_expired text-center">Su suscrupción a terminado, por favor pongase en contacto con el administrador</h2>
        <p class="text-center">ms@mantistecnologia.co</p>
    </section>
{% endblock %}