{% extends 'base_loged.html' %}
{% block principal %}
    <section id="wrapper">

        <div class="action-buttons full-width">
            <a href="{% url 'clients:add' %}" class="btn btn-primary">
                <i class="icon-plus-circle"></i> Agregar Cliente
            </a>
            <a href="{% url 'prospects:add' %}" class="btn btn-primary">
                <i class="icon-plus-circle"></i> Agregar Prospecto
            </a>
            <a href="{% url 'companies:add' %}" class="btn btn-primary">
                <i class="icon-plus-circle"></i> Agregar Compañia
            </a>
            <a href="{% url 'products:home' %}" class="btn btn-primary">
                <i class="icon-plus-circle"></i> Agregar Productos
            </a>
        </div>
        <hr/>
        <div class="alerts">
            {% if not company_setup %}
                <div data-alert class="alert-box warning">
                    Debe configurar la(s) compañia(s) aseguradora(s) <a href="{% url 'companies:add' %}">aquí</a>
                </div>
            {% endif %}
            {% if not product_setup %}
                <div data-alert class="alert-box warning">
                    Debe configurar al menos un producto <a href="{% url 'products:home' %}">aquí</a>
                </div>
            {% endif %}

        </div>
        <section>
            <section id="last-visit" class="widgets-home">
                <h4>Últimas visitas o seguimientos</h4>
                <div class="data">
                    <table>
                        <thead>
                        <tr>
                            <th>Cliente / Prospecto</th>
                            <th>Fecha</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in list_tracing %}
                            <tr>
                                <td>{{ i.client.name }}</td>
                                <td>{{ i.date_create }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2">
                                    No hay seguimientos
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="next-expiries" class="widgets-home">
                <h4>Próximos vencimientos</h4>
                <div class="data">
                    <table>
                        <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Póliza</th>
                            <th>Fecha</th>
                            <th>Compañia</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in list_expiries %}
                            <tr>
                                <td>{{ p.client.name }}</td>
                                <td>{{ p.policy_number }} - {{ p.policy_annex }}</td>
                                <td>{{ p.date_finish }}</td>
                                <td>{{ p.product.company.name }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4">
                                    No hay vencimientos en los proximos 30 días
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="policies-for-companies" class="widgets-home">
                <h5>Pólizas expedidas por compañia (últimos 30 días)</h5>
                <div class="data">
                    <table>
                        <thead>
                        <tr>
                            <th>Compañia</th>
                            <th>Número</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for c in count_for_companies_latest %}
                            <tr>
                                <td>{{ c.product__company__name }}</td>
                                <td>{{ c.numero }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="policies-for-products" class="widgets-home">
                <h5>Pólizas expedidas por producto (últimos 30 días)</h5>
                    <div class="data">
                        <table>
                            <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Número</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for p in count_for_products_latest %}
                                    <tr>
                                        <td>{{ p.product__name }}</td>
                                        <td>{{ p.numero }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </section>
        </section>
    </section>
{% endblock %}