{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}Inteligencia En Seguros{% endblock %}
{% block header %}
    <header>
        <h1>Inteligencia en Seguros</h1>
        <div id="logo_big">
            <img src="{% static "images/logo.svg" %}" alt="Inteligencia En Seguros"/>
        </div>
    </header>
{% endblock %}
{% block principal %}
    {% if form.non_field_errors %}
        <div data-alert class="width-50 alert-box warning radius">
            {% for error in form.non_field_errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% endif %}
    <div id="login-form">
        <h2>Inteligencia en Seguros</h2>
        <form action="." method="post">
            {% csrf_token %}
            {{ form.username.errors }}{{ form.username }}
            {{ form.password.errors }}{{ form.password }}
            <button type="submit" class="btn btn-warning">
                <i class="icon-enter"></i> Ingresar
            </button>
        </form>
        <div class="clearfix"></div>
    </div>
{% endblock %}