{% extends 'base_loged.html' %}
{% load static from staticfiles %}
{% block ExtraCSS %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "bower_components/chosen_v1.1.0/chosen.css" %}"/>
    <link rel="stylesheet" href="{% static "bower_components/jquery.ui/dist/jquery-ui.css" %}"/>
{% endblock %}
{% block principal %}
    <section id="wrapper">
        <a href="{% url 'prospects:home' %}" class="link-back"><i class="icon-arrow-left"></i> Volver al listado de prospectos</a>
        <section id="client-form">
            <h2>Ingresar Cliente</h2>
            <form action="." method="post" data-parsley-validate>
                {% csrf_token %}
                <input name="user" id="id_user" value="{{ user.id }}" type="hidden"/>
                {{ form.name }}
                {{ form.type_identification }}
                <div class="left-column-form">{{ form.nit }}</div> <div class="right-column-form">- {{ form.digit_verification }}</div>
                {{ form.address }}
                {{ form.city }}
                <div class="left-column-form">{{ form.phone }}</div>
                <div class="right-column-form">{{ form.cellphone }}</div>
                <div class="left-column-form">{{ form.email }}</div>
                <div class="right-column-form">{{ form.born_date }}</div>
                <hr>
                <h3>Contacto</h3>
                {{ form.contact }}
                {{ form.email_contact }}
                <hr>
                {{ form.referred }}
                <p><label for="id_state">{{ form.state.label }}</label>
                {{ form.state }}</p>
                <p><label for="id_is_client">{{ form.is_client.label }}</label>
                {{ form.is_client }}</p>
                <hr/>
                <div class="action-buttons">
                    <button type="submit" class="btn btn-primary"><i class="icon-disk"></i> Guardar</button>
                </div>
            </form>
        </section>
    </section>
{% endblock %}
{% block ExtraJS %}
    {{ block.super }}
    <script src="{% static "bower_components/parsleyjs/src/i18n/es.js" %}"></script>
    <script src="{% static "bower_components/parsleyjs/dist/parsley.min.js" %}"></script>
{#    <script src="{% static "js/parsley.extend.min.js" %}"></script>#}
    <script src="{% static "bower_components/jquery.ui/dist/jquery-ui.js" %}"></script>
    <script src="{% static "js/client_add.js" %}"></script>
{% endblock %}