{% extends 'base_loged.html' %}
{% load static from staticfiles %}
{% block ExtraCSS %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "bower_components/chosen_v1.1.0/chosen.css" %}"/>
    <link rel="stylesheet" href="{% static "bower_components/jquery.ui/dist/jquery-ui.css" %}"/>
{% endblock %}
{% block ExtraJSTop %}
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/config.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/lang/en.js' %}"></script>
{% endblock %}

{% block principal %}
    <section id="wrapper">
        <a href="{% url 'prospects:home' %}" class="link-back"><i class="icon-arrow-left"></i> Volver al listado de prospectos</a>
        <section id="colleft-client">
            <section id="detail-prospect">
                <h2>{{ prospect.name }}</h2>
                <p><span>Identificación: </span>{{ prospect.nit }} <span>Tipo: </span>{{ prospect.get_type_identification_display }}</p>
                <p><span>Dirección: </span>{{ prospect.address }}</p>
                <p><span>Ciudad: </span>{{ prospect.city }}</p>
                <p><span>Teléfono: </span>{{ prospect.phone }} <span>Celular: </span>{{ prospect.cellphone }}</p>
                <p><span>Email: </span>{{ prospect.email }}</p>
                <p><span class="full-width">Fecha de creación o nacimiento: </span>{{ prospect.born_date }}</p>
                <hr>
                <h3>Contacto</h3>
                <p><span>Contacto: </span>{{ prospect.contact }}</p>
                <p><span>Email: </span>{{ prospect.email_contact }}</p>
                <hr>
                <p><span class="full-width">Referido por: </span>{{ prospect.referred }}</p>
{#                <div class="action-buttons"><a id="switch_views" class="btn btn-primary" href="#"><i class="icon-briefcase"></i> Ver Pólizas</a></div>#}
            </section>
        </section>
        <div class="vertical"></div>
        <section id="colright-client">
            <section id="tracing-client">
                <h2>Seguimiento</h2>
                <div class="action-buttons"><a class="btn btn-primary add-tracing" data-reveal-id="modal-add-tracing" data-client="{{ client.id }}" href="#"><i class="icon-plus-circle"></i> Agregar seguimiento</a></div>
                <hr/>
                <div id="list_tracing_ajax"></div>
            </section>
{#            <section id="products-client">#}
{#                <h2>Pólizas</h2>#}
{#                <div class="action-buttons"><a class="btn btn-primary add-policy" href="#" data-reveal-id="modal-add-product"><i class="icon-plus-circle"></i> Agregar pólizas</a></div>#}
{#                <hr/>#}
{#                <div id="list_products_ajax"></div>#}
{#            </section>#}
        </section>
    </section>
    <section id="modal-add-tracing" class="reveal-modal medium" data-reveal>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Agregar Seguimiento</h3>
                </div>
                <div class="modal-body">
                    <form id="tracing_form" action="." method="post">
                        {% csrf_token %}
                        <input name="user" id="id_user" value="{{ user.id }}" type="hidden"/>
                        {{ formTracing.observations }}
                        <input type="hidden" id="id_client" name="client" value="{{ prospect.id }}"/>
                        <button class="btn btn-primary btn-right btn-add-tracing"><i class="icon-disk"></i> Guardar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="close-modal" type="button" class="close-reveal-modal btn btn-primary ">
                        <i class="icon-close"> Cerrar</i>
                </button>
                </div>
            </div>
        </div>
    </section>
{#    <section id="modal-add-product" class="reveal-modal medium" data-reveal>#}
{#        <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <h3>Agregar Producto</h3>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    <form id="product-add-form" action="." method="post">#}
{#                        {% csrf_token %}#}
{#                        <input name="user" id="id_user" value="{{ user.id }}" type="hidden"/>#}
{#                        <input type="hidden" id="id_client" name="client" value="{{ client.id }}"/>#}
{#                        {{ formProduct.product.label_tag }} {{ formProduct.product }}#}
{#                        <div class="left-column-form">#}
{#                            {{ formProduct.policy_number.label_tag }}{{ formProduct.policy_number }}#}
{#                            {{ formProduct.date_init.label_tag }}{{ formProduct.date_init }}#}
{#                            {{ formProduct.vr_insured.label_tag }}{{ formProduct.vr_insured }}#}
{#                        </div>#}
{#                        <div class="right-column-form">#}
{#                            {{ formProduct.policy_annex.label_tag }}{{ formProduct.policy_annex }}#}
{#                            {{ formProduct.date_finish.label_tag }}{{ formProduct.date_finish }}#}
{#                            {{ formProduct.vr_payment.label_tag }}{{ formProduct.vr_payment }}#}
{#                        </div>#}
{#                        <p>{{ formProduct.beneficiary.label }}{{ formProduct.beneficiary }}</p>#}
{#                        <p>Observaciones</p>#}
{#                        {{ formProduct.observation }}#}
{#                        <button type="submit" class="btn btn-primary btn-right btn-add-product"><i class="icon-disk"></i> Guardar</button>#}
{#                    </form>#}
{##}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <button id="close-modal" type="button" class="btn btn-primary" data-dismiss="modal">#}
{#                        <i class="icon-cancel-circle"> Cerrar</i>#}
{#                    </button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{% endblock %}
{% block ExtraJS %}
    {{ block.super }}
    <script src="{% static "bower_components/jquery.ui/dist/jquery-ui.js" %}"></script>
    <script src="{% static "bower_components/moment/min/moment.min.js" %}"></script>
    <script src="{% static "bower_components/moment/lang/es.js" %}"></script>
    <script src="{% static "js/prospects.js" %}"></script>
    <script>
        var PROSPECT = {{ prospect.id }};
    </script>
{% endblock %}