{% extends 'base.html' %}
{% load static from staticfiles %}
{% block ExtraCSS %}

{% endblock %}
    {% block header %}
        <header class="logued row">
            <div id="logo">
                <img src="{% static "images/logo.svg" %}" alt="IESWEB"/>
            </div>
            <div id="triangle"></div>
            <nav>{% block nav %}{% endblock %}</nav>
            <div id="user">
                <div id="info-user">
                    <p>{{ user.get_full_name }} </p><i class="icon-user"></i>
                </div>
                <div id="menu-header">
                    <a class="exit" href="{% url 'app:logout' %}"><i class="icon-exit"></i> Salir</a>
                    <a class="close" href="#"><i class="icon-close"></i></a>
                </div>
            </div>
        </header>
    {% endblock %}
    {% block sidebar %}
        <div id="menu">
            {% for i in user.client.modules.all %}
                {% if forloop.first %}
                    <nav>
                        <ul>
                            <li>
                                <a href="{% url 'app:home' %}">
                                    <span><i class="icon-home2"></i></span>
                                    <div class="content_title"><span class="title">Inicio</span></div>
                                </a>
                            </li>
                {% endif %}
                            <li>
                                <a href="{{ i.url }}">
                                    <span><i class="icon-{{ i.icon }}"></i></span>
                                    <div class="content_title"><span class="title">{{ i.name }}</span></div>
                                </a>
                            </li>
                {% if forloop.last %}
                        </ul>
                    </nav>
                {% endif %}
            {% endfor %}
        </div>
    {% endblock %}
    {% block footer %}
        <footer>
            <span id="suscription">Falta {{ user.client.paid_until|timeuntil }} para que expire su suscripción</span><span id="credits">Desarrollado por mantistecnologia S.A.S</span>
        </footer>
    {% endblock %}
{% block ExtraJS %}
    <script type="text/javascript" src="{% static "bower_components/jquery-hoverIntent/jquery.hoverIntent.js" %}"></script>
    <script src="{% static "bower_components/chosen_v1.1.0/chosen.jquery.min.js" %}"></script>
    <script src="{% static "js/csrf_ajax.js" %}"></script>
    <script src="{% static "js/home.js" %}"></script>
{% endblock %}