{% load static from staticfiles %}
<!doctype html>
<html lang="es-co">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aplicativo de manejo de clientes para el sector asegurador">
    <meta name="author" content="Gollum23">
    <title>{% block title %}Inteligencia en Seguros{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "bower_components/foundation/css/normalize.css" %}"/>
    <link rel="stylesheet" href="{% static "bower_components/foundation/css/foundation.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/iesweb_font.css" %}"/>
    <link rel="stylesheet" href="{% static "css/layout.css" %}"/>
    <link href="{% static "images/favicon.ico" %}" type="image/x-icon" rel="shortcut icon">
    {% block ExtraCSS %}{% endblock %}
    {% block ExtraJSTop %}{% endblock %}
</head>
<body>
    {% block header %}{% endblock %}
    {% block sidebar %}{% endblock %}
    {% block principal %}{% endblock %}

    {% block footer %}
        <footer class="logout">
            <p id="credits">Desarrollado por mantistecnologa S.A.S</p>
        </footer>
    {% endblock %}
    <script type="text/javascript" src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bower_components/foundation/js/foundation.min.js" %}"></script>
    {% block ExtraJS %}{% endblock %}
</body>
</html>