@font-face {
	font-family: 'iesweb_app';
	src:url('../fonts/iesweb_app.eot?sv614f');
	src:url('../fonts/iesweb_app.eot?#iefixsv614f') format('embedded-opentype'),
		url('../fonts/iesweb_app.woff?sv614f') format('woff'),
		url('../fonts/iesweb_app.ttf?sv614f') format('truetype'),
		url('../fonts/iesweb_app.svg?sv614f#iesweb_app') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'iesweb_app';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-office:before {
	content: "\e601";
}
.icon-pencil:before {
	content: "\e602";
}
.icon-home2:before {
	content: "\e603";
}
.icon-new:before {
	content: "\e604";
}
.icon-book:before {
	content: "\e605";
}
.icon-books:before {
	content: "\e606";
}
.icon-reading:before {
	content: "\e607";
}
.icon-library:before {
	content: "\e608";
}
.icon-profile:before {
	content: "\e609";
}
.icon-credit:before {
	content: "\e60a";
}
.icon-support:before {
	content: "\e60b";
}
.icon-phone:before {
	content: "\e60c";
}
.icon-address-book:before {
	content: "\e60d";
}
.icon-envelope:before {
	content: "\e60e";
}
.icon-location:before {
	content: "\e60f";
}
.icon-history:before {
	content: "\e610";
}
.icon-alarm:before {
	content: "\e611";
}
.icon-bell:before {
	content: "\e612";
}
.icon-calendar:before {
	content: "\e613";
}
.icon-print:before {
	content: "\e614";
}
.icon-archive:before {
	content: "\e615";
}
.icon-disk:before {
	content: "\e616";
}
.icon-bubble:before {
	content: "\e617";
}
.icon-user:before {
	content: "\e618";
}
.icon-users:before {
	content: "\e619";
}
.icon-user-plus:before {
	content: "\e61a";
}
.icon-user-cancel:before {
	content: "\e61b";
}
.icon-users2:before {
	content: "\e61c";
}
.icon-binoculars:before {
	content: "\e61d";
}
.icon-search:before {
	content: "\e61e";
}
.icon-cog:before {
	content: "\e61f";
}
.icon-factory:before {
	content: "\e620";
}
.icon-bug:before {
	content: "\e621";
}
.icon-stats:before {
	content: "\e622";
}
.icon-stats-up:before {
	content: "\e623";
}
.icon-medal:before {
	content: "\e624";
}
.icon-medal2:before {
	content: "\e625";
}
.icon-medal3:before {
	content: "\e626";
}
.icon-remove:before {
	content: "\e627";
}
.icon-briefcase:before {
	content: "\e628";
}
.icon-car:before {
	content: "\e629";
}
.icon-accessibility:before {
	content: "\e62a";
}
.icon-clipboard:before {
	content: "\e62b";
}
.icon-grid:before {
	content: "\e62c";
}
.icon-menu:before {
	content: "\e62d";
}
.icon-attachment:before {
	content: "\e62e";
}
.icon-notification:before {
	content: "\e62f";
}
.icon-question:before {
	content: "\e630";
}
.icon-plus-circle:before {
	content: "\e631";
}
.icon-minus-circle:before {
	content: "\e632";
}
.icon-info:before {
	content: "\e633";
}
.icon-checkmark-circle:before {
	content: "\e634";
}
.icon-close:before {
	content: "\e635";
}
.icon-enter:before {
	content: "\e636";
}
.icon-exit:before {
	content: "\e637";
}
.icon-arrow-up:before {
	content: "\e638";
}
.icon-arrow-right:before {
	content: "\e639";
}
.icon-arrow-down:before {
	content: "\e63a";
}
.icon-arrow-left:before {
	content: "\e63b";
}
.icon-arrow-right2:before {
	content: "\e63c";
}
.icon-googleplus:before {
	content: "\e63d";
}
.icon-facebook:before {
	content: "\e63e";
}
.icon-twitter:before {
	content: "\e63f";
}
.icon-file-pdf:before {
	content: "\e643";
}
.icon-file-word:before {
	content: "\e644";
}
.icon-file-excel:before {
	content: "\e645";
}
.icon-html5:before {
	content: "\e646";
}
.icon-css3:before {
	content: "\e647";
}
