@import 'nib'
/******************** VARIABLES ***************************/
black_1 = #333333
blue_light = #2B9CD7
blue_light_a = rgba(43, 156, 215, 0.3)
blue_dark = #206CB3
blue_dark_2 = #213d7a
blue_title = #1D71B8
green_aquamarine_a = rgba(32, 179, 157, 0.3)
green_aquamarine = rgba(32, 179, 157, 1)
orange_1 = #F9B233
orange_light = #C09853
white_1 = #EEEEEE
superwhite = #FFFFFF
grey_1 = #DDDDDD
red_1 = #DD554C

body
    font-family 'Open Sans', sans-serif
    color black_1

footer
    background-color rgba(0, 0, 0, 0.8)
    bottom 0
    color white_1
    height 26px
    padding 5px 0
    position fixed
    width 100%
    z-index 998
    .logout
        bottom 2em
        position absolute
        right 1em

h1, h2, h3, h4, h5, h6
    font-family 'Open Sans', sans-serif

h2
    &.title-module
        display inline-block
        vertical-align top
        width 49.5%

header
    h1
        display none
    #logo
        background-color superwhite
        display inline-block
        height 48px
        margin-left 0px
        padding 0 1.25em
        vertical-align top
        width 130px
        img
            width 100%
    #logo_big
        display block
        margin 100px auto 25px
        max-width 460px
        img
            width 100%
    #triangle
        border-color superwhite transparent transparent transparent
        border-style solid
        border-width 50px 50px 0 0
        display inline-block
        height 0px
        margin-left -5px
        width 0px
    #user
        position absolute
        right 0
        top 0
        z-index 50
        #info-user
            background-color blue_dark
            text-transform capitalize
            color white_1
            min-width 100px
            padding 0 1em
            i.icon-user
                font-size 2em
                position absolute
                right 0.25em
                top 0.25em
            p
                display block
                font-weight bold
                line-height 48px
                margin 0
                padding-right 2em
                text-align right
        #menu-header
            background-color blue_dark_2
            display none
            padding 0 1em
            position absolute
            width 100%
            a.close i
                border-radius 50%
                bottom -0.8em
                color orange_light
                display block
                font-size 1.5em
                font-weight bold
                line-height 24px
                position absolute
                right 0.2em
                text-align center
                text-decoration none
                width 24px
                &:hover
                    color red_1
            a.exit
                color #333
                background-color orange_1
                display block
                font-size 1.5em
                line-height 1.5em
                margin 0.7em 0
                padding 0
                text-align center
                text-decoration none
                width 100%
                &:hover
                    background-color orange_light
    &.logued
        background-color blue_light
        height 48px
        max-width 100%
        position fixed
        width 100%
        z-index 9999

hr
    border-color blue_dark_2
    border-style solid
    border-width 2px
    margin 0.5em 0 1em

nav
    background-color blue_light
    display inline-block
    height 100%
    vertical-align top
    li
        &:hover .content_title
            display table
        a
            &:hover
                color superwhite
    a
        color white_1
        display block
        font-weight bold
        height 57px
        position relative
        text-decoration none
        vertical-align middle
        span
            font-size 36px
        .content_title
            background-color blue_light
            display none
            height 57px
            left 43px
            padding 0 7px
            position absolute
            top 0
            width 130px
            .title
                display table-cell
                font-size 16px
                vertical-align middle
    ul
        list-style none
        margin 0
        li
            padding 0 7px

p
    &.detail-left, &.detail-right
        float left
        width 50%
    &.observation-label
        float left

table
    width 100%
    a
        color #333
        cursor pointer
        display block
        text-decoration none
    td
        border-right 1px solid #333
        padding 0.5em
        &:last-child
            border none
    tbody tr
        &:nth-child(even)
            background-color blue_light_a
        &:nth-child(odd)
            background-color green_aquamarine_a
    thead
        background-color grey_1

#colleft-client,
#colright-client
    float left
    /*overflow hidden*/
    width 48.9%
    height 85%
    overflow-y scroll
    overflow-x hidden

#colright-client
    bottom 0
    position absolute
    right 0
    top 90px

#credits,
#suscription
    margin 0
    position absolute

#credits
    right 0.5em

#client-form
    margin 1em auto
    max-width 960px
    width 100%
    input
        background-clip padding-box
        border 1px solid grey_1
        border-radius 0.25em
        margin 0.25em 0
        padding 0.25em
    input[id='id_name'],
    input[id='id_nit'],
    input[id='id_address'],
    input[id='id_phone'],
    input[id='id_cellphone'],
    input[id='id_email'],
    input[id='id_born_date']
    input[id='id_contact'],
    input[id='id_email_contact'],
    input[id='id_referred']
        width 100%

    input[id='id_city']
        width 49.1%

    input[id='id_digit_verification']
        display inline-block
        width 2em
    .btn-primary
        background-clip padding-box
        border 1px solid grey_1
        border-radius 0.25em

#company-form
    margin 1em auto
    max-width 960px
    width 100%
    input
        background-clip padding-box
        border 1px solid grey_1
        border-radius 0.25em
        margin 0.25em 0
        padding 0.25em
    input[id='id_name'],
    input[id='id_address'],
    input[id='id_name_compliance'],
    input[id='id_name_live'],
    input[id='id_name_car'],
    input[id='id_name_generals']
        width 100%
    input[id='id_phone_compliance'],
    input[id='id_mail_compliance'],
    input[id='id_phone_live'],
    input[id='id_mail_live'],
    input[id='id_phone_car'],
    input[id='id_mail_car'],
    input[id='id_phone_generals'],
    input[id='id_mail_generals']
        width 49.1%

    input[id='id_digit_verification']
        display inline-block
        width 2em
    .btn-primary
        background-clip padding-box
        border 1px solid grey_1
        border-radius 0.25em

#detail
    margin 0 auto
    max-width 960px
    width 100%
    p span
        display inline-block
        font-weight bold
        padding-right 1em
        text-align right
        width 10%
        &.full-width
            width auto

#detail-client, #detail-prospect
    float left
    padding 0 1em
    width 100%
    p span
        display inline-block
        font-weight bold
        padding-right 1em
        text-align right
        width 20%
        &.full-width
            width auto

#form-products
    display inline-block
    padding-left 1em
    width 30%
    h3
        margin-top 0
    input
        background-clip padding-box
        border 1px solid grey_1
        border-radius 0.25em
        margin 0.25em 0
        padding 0.25em
        width 100%
    select
        margin-bottom 0.5em
        padding 0.25em
        width 100%
    label
        display block
        width 100%
    .btn-primary
        background-clip padding-box
        border 1px solid grey_1
        border-radius 0.25em

#id_beneficiary
    width 100%

#list_products_ajax,
#list_tracing_ajax
    height 85%
    overflow-y auto
    overflow-x hidden

#login-form
    background-color blue_dark
    margin 0 auto
    max-width 460px
    padding 0.5em 1em
    button[type='submit']
        display block
        float right
    h2
        color white_1
        text-align center
    input[type='text'],
    input[type='password']
        color #333
        display block
        margin-bottom 1em
        width 100%
        &:focus
            color black_1

#menu
    height 100%
    left 0
    padding-top 50px
    position fixed
    top 0
    width 50px
    z-index 999

#modules
    text-align center
    margin 0.25em
    width 100%
    .module
        background-color green_aquamarine
        display inline-block
        height 280px
        margin 1em 6px
        max-width 400px
        position relative
        text-decoration none
        width 100%
        h3
            background-color blue_dark
            color white_1
            line-height 50px
            margin 0
            position relative
            z-index 10
        img
            margin-top 51px
        .info
            background-color white_1
            color #333
            height 0
            left 50%
            opacity 0
            overflow hidden
            padding 50px 1em
            position absolute
            top 50%
            transition all 300ms ease 0s
            width 0
            p
                font-size 0.1em
                font-weight bold
                top 50%
                position absolute
                text-align left
                transition all 300ms ease 0s
                width 90%
        &:hover .info
            height 100%
            left 0
            opacity 0.8
            overflow hidden
            position absolute
            top 0
            width 100%
            p
                font-size 1em
                opacity 1

#product-add-form
    overflow hidden

#suscription
    left 55px

#tabular-data
    overflow hidden
    .client, .prospect, .company
        background white_1
        background-clip padding-box
        border-radius 0.5em
        float left
        margin-right 2%
        margin-bottom 1em
        width 32%;
        .data
            padding 0.5em
            width 100%
            p
                margin-top 0
                span
                    font-weight bold
        .btn-left, .btn-right
            float left
            text-align center
            width 50%
            a
                display block
                color superwhite
                padding 0.5em 0
                text-decoration none
                &:hover
                    text-decoration underline
        .btn-left
            background green_aquamarine
            background-clip padding-box
            border-radius 0 0 0 0.5em
        .btn-right
            background orange_1
            background-clip padding-box
            border-radius 0 0 0.5em 0

        &:nth-child(3n)
            margin-right 0
    .prospect
        background grey_1

#tabular-data-products
    display inline-block
    vertical-align top
    width 69%

#tracing-client,
#tracing-prospect,
#products-client
    background superwhite
    float left
    height 100%
    padding 0 1em
    position absolute
    top 0
    transition: .3s left;
    width 100%
    h2
        display block
        float left
        margin-top 0
        text-align left
        width 50%
    .action-buttons
        float left
        margin-top 0.5em
        text-align right
        width 50%
    .detail-tracing, .detail-product
        background-clip padding-box
        border 1px solid grey_1
        border-radius 0.5em
        margin-bottom 1em
        padding 0.5em
        width 100%
        p
            margin 0
            span
                display inline-block
                font-weight bold
                text-align right
                width 8em
                &.full-width
                    width auto

#tracing-client
    left 0

#products-client
    left 100%

#search
    display inline-block
    margin-top 1em
    vertical-align top
    width 25.5%
    input
        display inline-block
        margin 0
        width 67%
    .btn-primary
        background-clip padding-box
        border 1px solid grey_1
        border-radius 0.25em
        margin 0

#ui-datepicker-div table tr
    background superwhite

#wrapper
    /*height 90%*/
    margin-bottom 1em
    overflow hidden
    padding 3em 1em 0 5em
    width 100%

.action-buttons
    display inline-block
    line-height 38px
    margin-top 1em
    text-align right
    vertical-align top
    width 49.5%
    a
        color white_1
        text-decoration none
        &:hover
            color blue_dark_2
    input
        background-clip padding-box
        border 1px solid grey_1
        border-radius 0.25em
        margin 0.25em 0.5em 0 0
        padding 0.25em
        width 300px
    &.title-module
        width 24%
    &.full-width
        width 100%
        a
            margin-right 0.5em
            &:last-child
                margin-right 0


.alert
    margin 0 auto
    padding 1em
    position absolute
    top 0
    width 100%

.alert-warning
    background-color #fffdb8
    color orange_light

.btn
    background none
    border none
    padding 0.5em

.btn-full-with
    width 100%

.btn-primary
    background-color blue_light
    color white_1

.btn-right
    float right

.btn-warning
    background orange_1

.clearfix
    clear both

.close-reveal-modal
    color white_1 !important
    font-size 1em !important
    font-weight normal !important
    line-height 1em !important
    position inherit !important


.left-column-form,
.right-column-form
    display inline-block
    width 49.5%
    label
        display block
        margin-top 0.5em
        width 100%
    input
        width 100%

.link-back
    color #333
    display block
    font-size 1.5em
    margin 0.5em 0 0
    text-decoration none

.observations
    display block
    margin-left 115px

.parsley-error
    background-color #f2dede !important
    border 1px solid #eed3d7 !important
    color #b94a48 !important

.parsley-success
    background-color #daf2ef !important
    border 1px solid #bfeee0 !important
    color #3db98c !important

.right-margin
    margin-right 1em

.title-50
    display inline-block
    width 49.5%
    vertical-align top

.ui-datepicker-month,
.ui-datepicker-year
    color black_1

.vertical
    background orange_1
    float left
    height 100%
    width 0.2%

.widgets-home
    display inline-block
    height 300px
    padding 0.5em
    vertical-align top
    width 49%
    .data
        overflow-y auto


.width-50
    margin 20px auto
    width 50%