{% extends 'base_loged.html' %}
{% block principal %}
    <section id="wrapper">
        <h2 class="title-module">Listado de clientes</h2>
        <div id="search">
{#            <form action=".">#}
{#                <input type="text" id="search-text" name="search" placeholder="Buscar clientes"/>#}
{#                <button type="submit" class="btn btn-primary" id="btn-search"><i class="icon-binoculars"></i> Buscar</button>#}
{#            </form>#}
        </div>
        <div class="action-buttons title-module">
            <a href="{% url 'clients:add' %}" class="btn btn-primary">
                <i class="icon-plus-circle"></i> Agregar Cliente
            </a>
        </div>
        <hr/>

        <section id="tabular-data">
            {% for c in list_clients %}
                <article class="client">
                    <div class="data">
                        <p><span>Nombre: </span><br/>{{ c.name|truncatechars:40 }}</p>
                        <p><span>Identificación: </span>{{ c.nit }}</p>
                        <p><span>Teléfono: </span>{{ c.phone }}</p>
                        <p><span>Correo electrónico: </span><br/>{{ c.email }}</p>
                        <p><span>Último seguimiento: </span>{% for i in c.client_tracing.all %}{% if forloop.first %}{{ i.date_create }}{% endif %}{% empty %}No ha ingresado seguimientos{% endfor %}</p>
                    </div>
                    <div class="btn-left"><a href="{% url 'clients:detail' c.nit %}"><i class="icon-file6"></i> Detalle</a></div>
                    <div class="btn-right"><a href="{% url 'clients:edit' c.nit %}"><i class="icon-pencil2"></i> Editar</a></div>
                </article>
            {% endfor %}
            {{ list_clients_ajax|length }}
        </section>

    </section>
{% endblock %}
{% block ExtraJS %}
    {{ block.super  }}
    <script>
        {# TODO: revisar ajax para busqueda de clientes y prospectos #}
        $(document).ready(init);

        function init(){
            $("#btn-search").on("click", search);
        }
        function search(e){
            e.preventDefault();
            var q = $("#search-text").val();
            $.get('/clientes/'+ q, show_results)
        }
        function show_results(data){
            console.log("Funcion resultado");
            console.log(data);
{#            $("section#tabular-data").html("{% for c in list_clients_ajax %}{% if forloop.first %}<table><thead><tr><td>Nombre</td><td>Nit</td><td>Teléfono</td><td>Correo electrónico</td><td>Último seguimiento</td><td></td><td></td></tr></thead><tbody>{% endif %}<tr><td>{{ c.name }}</td><td>{{ c.nit }}</td><td>{{ c.phone }}</td><td>{{ c.email }}</td><td>{% for i in c.client_tracing.all %}{% if forloop.last %}{{ i.date }}{% endif %}{% endfor %}</td><td><a href='{% url 'detail_company' c.slug %}'>Detalle</a></td><td><a href='{% url 'edit_company' c.slug %}'><i class='icon-pencil2'></i> Editar</a></td></tr>{% if forloop.last %}</tbody></table>{% endif %}{% endfor %}")#}
            $("section#tabular-data").html("<table></table>")
        }
    </script>
{% endblock %}